# Files and directories created by pub
/.dart_tool/
/.packages
/build/
# If you're building a web application
/build/web/
# Files created by dart2js
# *.dart.js
# *.part.js
# *.js.map

# Directory created by dartdoc
/doc/api/

# Flutter/Dart specific files
**/.flutter-plugins
**/.flutter-plugins-dependencies
.flutter-plugins
.flutter-plugins-dependencies

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# The .vscode folder contains launch configuration and task definitions.
.vscode/

# OS specific files
.DS_Store
*.swp
*.lock
profile
